  <nav>
    <div class="nav-wrapper">
      <a class="brand-logo left">Inevitable Recipe</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a class="btn-floating btn-small cyan pulse" href="/recipe/add"><i class="fas fa-pen"></i></a></li>
        <li><a href="/dashboard">Dashboard</a></li>
        <li><a href="/recipe">Recipes</a></li>
        <li><a href="/auth/logout">Logout</a></li>
      </ul>
    </div>
  </nav>
