<h3><i class="fas fa-utensils"></i>nevitable Recipe</h3>
<div class="section">
    <p class="subheading">Create a recipe for yourself and for others</p>
</div>
<div class="section">
    <a href="/auth/google">
        <div class="btn red">
            <i class="fab fa-google"></i> Log In With Google
        </div>
    </a>
</div>